<ion-content>
  <div class="album-back-btn" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>

  <div class="album-header">
    <ion-thumbnail class="album-art">
      <img [src]="album?.images?.[0]?.url" [alt]="album?.name" />
    </ion-thumbnail>
    <div class="album-info">
      <h2>{{ album?.name }}</h2>
      <div class="album-artists">
        <span *ngFor="let artist of album?.artists; let last = last">
          {{ artist.name }}<span *ngIf="!last">, </span>
        </span>
      </div>
    </div>
  </div>

  <div class="album-actions">
    <div class="left-actions">
      <ion-button fill="clear" size="small">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" (click)="openAlbumOptions()">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </div>
    <div class="right-actions">
      <ion-button fill="clear" size="small">
        <ion-icon name="shuffle-outline"></ion-icon>
      </ion-button>
      <ion-button class="play-btn" shape="round" color="primary" (click)="playAlbum()">
        <ion-icon name="play"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let track of tracks">
      <ion-thumbnail slot="start" class="track-thumb">
        <img [src]="track.album?.images?.[0]?.url || album?.images?.[0]?.url" [alt]="track.name" />
      </ion-thumbnail>
      <ion-label>
        <div class="track-title">{{ track.name }}</div>
        <div class="track-artists">
          <span *ngFor="let artist of track.artists; let last = last">
            {{ artist.name }}<span *ngIf="!last">, </span>
          </span>
        </div>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="openTrackOptions(track)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Album options modal -->
  <ion-modal [isOpen]="showAlbumOptions" (didDismiss)="showAlbumOptions = false">
    <ion-content>
      <ion-list>
        <ion-item button>Add to Playlist</ion-item>
        <ion-item button>Download</ion-item>
        <ion-item button>Share</ion-item>
        <ion-item button (click)="showAlbumOptions = false">Close</ion-item>
      </ion-list>
    </ion-content>
  </ion-modal>

  <!-- Track options modal -->
  <ion-modal [isOpen]="showTrackOptions" (didDismiss)="showTrackOptions = false">
    <ion-content>
      <ion-list>
        <ion-item button>Add to Liked Songs</ion-item>
        <ion-item button>Add to Playlist</ion-item>
        <ion-item button>Share</ion-item>
        <ion-item button (click)="showTrackOptions = false">Close</ion-item>
      </ion-list>
    </ion-content>
  </ion-modal>
</ion-content>