<ion-content>
  <div class="album-back-btn" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>

  <div class="album-header">
    <ion-thumbnail class="album-art">
      <img [src]="album?.images?.[0]?.url" [alt]="album?.name" />
    </ion-thumbnail>
    <div class="album-info">
      <h2>{{ album?.name }}</h2>
      <div class="album-artists">
        <span *ngFor="let artist of album?.artists; let last = last">
          {{ artist.name }}<span *ngIf="!last">, </span>
        </span>
      </div>
    </div>
  </div>

  <div class="album-actions">
    <div class="left-actions">
      <ion-button fill="clear" size="small" (click)="openAddAlbumToPlaylistModal()"> 
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="right-actions">
      <ion-button fill="clear" size="small">
        <ion-icon name="shuffle-outline"></ion-icon>
      </ion-button>
      <ion-button class="play-btn" shape="round" color="light" (click)="playAlbum()">
        <ion-icon name="play" slot="icon-only" color="dark"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="album-tracks-list">
    <ion-button
      *ngFor="let track of tracks"
      class="album-track-btn"
      expand="block"
      (click)="playTrack(track.uri)"
    >
      <ion-thumbnail slot="start" class="track-thumb">
        <img [src]="track.album?.images?.[0]?.url || album?.images?.[0]?.url" [alt]="track.name" />
        <ion-icon name="play-circle" class="play-icon"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h4>{{ track.name }}</h4>
        <p>
          <span *ngFor="let artist of track.artists; let last = last">
            {{ artist.name }}<span *ngIf="!last">, </span>
          </span>
        </p>
      </ion-label>
      <ion-button
        fill="clear"
        color="medium"
        slot="end"
        class="ellipsis-btn"
        (click)="openAddToPlaylistModal(track.uri); $event.stopPropagation();"
      >
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-button>
  </div>

  <!-- Add to Playlist Modal -->
  <ion-modal
    [isOpen]="addToPlaylistModalOpen"
    (didDismiss)="closeAddToPlaylistModal()"
    [breakpoints]="[0, 0.5, 0.9]"
    [initialBreakpoint]="0.5"
  >
    <ng-template>
      <div class="inline-modal ion-padding">
        <h3>Add to Playlist</h3>
        <ion-list>
          <ion-item *ngFor="let playlist of userPlaylists">
            <ion-checkbox
              slot="start"
              [checked]="selectedPlaylistsToAdd.has(playlist.id)"
              (ionChange)="togglePlaylistSelection(playlist.id)">
            </ion-checkbox>
            <ion-label>{{ playlist.name }}</ion-label>
          </ion-item>
        </ion-list>
        <div style="display: flex; justify-content: flex-end; margin-top: 16px;">
          <ion-button color="medium" (click)="closeAddToPlaylistModal()">Cancel</ion-button>
          <ion-button color="primary" (click)="addTrackToSelectedPlaylists()" [disabled]="selectedPlaylistsToAdd.size === 0">Add</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>