<ion-header>
  <div class="header primary-bg">
    <ion-toolbar style="padding-top: 25px; --background: transparent;">
      <ion-title>
        <ion-icon name="play-outline"></ion-icon> BeaM
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <section class="primary-bg center-content">
      <h3>A new way to enjoy your songs!</h3>
    </section>
    <section class="secondary-bg center-content">
      <h3>Why BeaM?</h3>
      <div class="reasons-row">
        <div class="reason">
          <h4>Simplicity</h4>
          <p>Get your songs here!</p>
        </div>
        <div class="reason">
          <h4>Spotify Based</h4>
          <p>Utilizes Spotify's Web API and SDK</p>
        </div>
        <div class="reason">
          <h4>It just works.</h4>
        </div>
      </div>
    </section>
    <section class="primary-bg center-content">
      <h3>Log into your Spotify account!</h3>
      <ion-button class="circle-login-btn" (click)="login()">Log In</ion-button>
      <ion-button class="clear" (click)="continueWithoutSpotify()">Continue without Spotify</ion-button>
    </section>
  </div>
</ion-content>