<div class="section-header">
  <h4>Your Top Songs</h4>
</div>
<ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
<div class="top-songs-list" *ngIf="!isLoading">
  <ion-button
    *ngFor="let track of tracks"
    class="top-song-btn"
    expand="block"
    (click)="playSong(track.uri)"
  >
    <ion-thumbnail slot="start">
      <img [src]="track.album?.images?.[0]?.url || 'assets/default-music.png'" />
      <ion-icon name="play-circle" class="play-icon"></ion-icon>
    </ion-thumbnail>
    <ion-label>
      <h4>{{ track.name }}</h4>
      <p>{{ track.artists[0]?.name }}</p>
    </ion-label>
    <ion-button
      fill="clear"
      color="medium"
      slot="end"
      class="ellipsis-btn"
      (click)="openAddToPlaylistModal(track.uri); $event.stopPropagation();"
    >
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-button>
</div>

<ion-modal
  [isOpen]="addToPlaylistModalOpen"
  (didDismiss)="closeAddToPlaylistModal()"
  [breakpoints]="[0, 0.5, 0.9]"
  [initialBreakpoint]="0.5"
  cssClass="add-to-playlist-modal"
>
  <ng-template>
    <div class="inline-modal ion-padding">
      <h3>Add to Playlist</h3>
      <ion-list>
        <ion-item *ngFor="let playlist of userPlaylists">
          <ion-checkbox
            slot="start"
            [checked]="selectedPlaylistsToAdd.has(playlist.id)"
            (ionChange)="togglePlaylistSelection(playlist.id)">
          </ion-checkbox>
          <ion-label>{{ playlist.name }}</ion-label>
        </ion-item>
      </ion-list>
      <div style="display: flex; justify-content: flex-end; margin-top: 16px;">
        <ion-button color="medium" (click)="closeAddToPlaylistModal()">Cancel</ion-button>
        <ion-button color="primary" (click)="addTrackToSelectedPlaylists()" [disabled]="selectedPlaylistsToAdd.size === 0">Add</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>