<ion-content [fullscreen]="true">
  <div class="header">
    <ion-toolbar style="padding-top: 25px; --background: transparent;">
      <ion-title>
        <ion-icon name="play-outline"></ion-icon> BeaM
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="login()">
          <div *ngIf="!userProfileImage">
            <ion-icon name="person-outline"></ion-icon>
            Log In
          </div>
          <img *ngIf="userProfileImage" [src]="userProfileImage" alt="User Profile" style="width: 32px; height: 32px; border-radius: 50%;" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="body ion-padding">

    <!-- Top buttons for moods -->
    <div class="top-swipe-buttons">
      <swiper-container 
        space-between="10" 
        slides-per-view="auto" 
        loop="true"
        free-mode="true"
        [breakpoints]="breakpoints"
      >
        <swiper-slide>
          <ion-button class="mood">Energize</ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="mood">Relax</ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="mood">Feel good</ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="mood">Work out</ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="mood">Commute</ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="mood">Party</ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="mood">Romance</ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="mood">Focus</ion-button>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Quick picks portion -->
    <div class="quick-picks-portion">
      <h3>Quick Picks</h3>
      <swiper-container
        slides-per-view="1.2"
        space-between="15"
      >
        <!-- First swiper-slide with 4 buttons -->
        <swiper-slide>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-haru.jpg" alt="Yorushika Sunny" />
              </ion-thumbnail>
              <ion-label>
                <h4>Sunny</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-matasaburo.jpg" alt="Yorushika Matasaburo" />
              </ion-thumbnail>
              <ion-label>
                <h4>Matasaburo</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-magiclantern-album.jpeg" alt="Yorushika Lantern" />
              </ion-thumbnail>
              <ion-label>
                <h4>Lantern</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-plagiarism-album.png" alt="Yorushika Flower" />
              </ion-thumbnail>
              <ion-label>
                <h4>Flower</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
        </swiper-slide>

        <!-- Second swiper-slide with 4 buttons -->
        <swiper-slide>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-haru.jpg" alt="Yorushika Sunny" />
              </ion-thumbnail>
              <ion-label>
                <h4>Sunny</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-matasaburo.jpg" alt="Yorushika Matasaburo" />
              </ion-thumbnail>
              <ion-label>
                <h4>Matasaburo</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-magiclantern-album.jpeg" alt="Yorushika Lantern" />
              </ion-thumbnail>
              <ion-label>
                <h4>Lantern</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-plagiarism-album.png" alt="Yorushika Flower" />
              </ion-thumbnail>
              <ion-label>
                <h4>Flower</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
        </swiper-slide>

        <!-- Third swiper-slide with 4 buttons -->
        <swiper-slide>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-haru.jpg" alt="Yorushika Sunny" />
              </ion-thumbnail>
              <ion-label>
                <h4>Sunny</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-matasaburo.jpg" alt="Yorushika Matasaburo" />
              </ion-thumbnail>
              <ion-label>
                <h4>Matasaburo</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-magiclantern-album.jpeg" alt="Yorushika Lantern" />
              </ion-thumbnail>
              <ion-label>
                <h4>Lantern</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
          <ion-button class="quick-song-pick" fill="clear">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/quick-picks-pics/yorushika-plagiarism-album.png" alt="Yorushika Flower" />
              </ion-thumbnail>
              <ion-label>
                <h4>Flower</h4>
                <p>Yorushika</p>
              </ion-label>
              <ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
            </ion-item>
          </ion-button>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Personal playlists portion -->
    <div class="from-your-library-portion">
      <h3>From Your Library</h3>
      <swiper-container
        slides-per-view="2.2"
        space-between="10"
        free-mode="true"
      >
        <swiper-slide *ngFor="let playlist of userPlaylists">
          <ion-button class="saved-playlist">
            <div class="playlist-content">
              <ion-thumbnail class="saved-playlist-thumbnail">
                <img [src]="playlist.images?.[0]?.url" [alt]="playlist.name" />
              </ion-thumbnail>
              <ion-label>
                <h4>{{ playlist.name }}</h4>
                <p>{{ playlist.owner.display_name }}</p>
              </ion-label>
            </div>
          </ion-button>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- New releases for you portion -->
    <div class="from-your-library-portion">
      <h3>New Releases For You</h3>
      <swiper-container
        slides-per-view="2.2"
        space-between="10"
        free-mode="true"
      >
        <swiper-slide>
          <ion-button class="saved-playlist">
            <div class="playlist-content">
              <ion-thumbnail class="saved-playlist-thumbnail">
                <img src="assets/quick-picks-pics/yorushika-plagiarism-album.png" alt="your playlist 1">
              </ion-thumbnail>
              <ion-label>
                <h4>J-Poppers</h4>
                <p>Rovultion</p>
              </ion-label>
            </div>
          </ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="saved-playlist">
            <div class="playlist-content">
              <ion-thumbnail class="saved-playlist-thumbnail">
                <img src="assets/quick-picks-pics/yorushika-haru.jpg" alt="your playlist 2">
              </ion-thumbnail>
              <ion-label>
                <h4>Different</h4>
                <p>Roi</p>
              </ion-label>
            </div>
          </ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="saved-playlist">
            <div class="playlist-content">
              <ion-thumbnail class="saved-playlist-thumbnail">
                <img src="assets/quick-picks-pics/yorushika-magiclantern-album.jpeg" alt="your playlist 3">
              </ion-thumbnail>
              <ion-label>
                <h4>Moody</h4>
                <p>Blues</p>
              </ion-label>
            </div>
          </ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="saved-playlist">
            <div class="playlist-content">
              <ion-thumbnail class="saved-playlist-thumbnail">
                <img src="assets/quick-picks-pics/yorushika-matasaburo.jpg" alt="your playlist 4">
              </ion-thumbnail>
              <ion-label>
                <h4>Sol</h4>
                <p>Rovultion</p>
              </ion-label>
            </div>
          </ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-button class="saved-playlist">
            <div class="playlist-content">
              <ion-thumbnail class="saved-playlist-thumbnail">
                <img src="assets/quick-picks-pics/yorushika-plagiarism-album.png" alt="your playlist 1">
              </ion-thumbnail>
              <ion-label>
                <h4>J-Poppers</h4>
                <p>Rovultion</p>
              </ion-label>
            </div>
          </ion-button>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>  
</ion-content>