<div class="player-controls">
  <ion-item lines="none" class="player-bar">
    <ion-thumbnail slot="start" *ngIf="trackImage">
      <img [src]="trackImage" [alt]="trackName" />
    </ion-thumbnail>
    <ion-label>
      <div class="track-title">{{ trackName }}</div>
      <div class="track-artist">{{ trackArtist }}</div>
    </ion-label>
    <ion-buttons slot="end" class="player-controls">
      <ion-button fill="clear" (click)="previous()">
        <ion-icon name="play-skip-back"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="isPlaying ? pause() : play()">
        <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="play-skip-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</div>
<div class="player-progress">
  <span class="current-time">{{ currentPosition | date:'mm:ss' }}</span>
  <ion-range
    min="0"
    [max]="duration"
    [value]="currentPosition"
    (ionChange)="onSeek($event)"
    [disabled]="!duration"
    pin="true"
    color="primary"
  ></ion-range>
  <span class="duration">{{ duration | date:'mm:ss' }}</span>
</div>