<ion-content [fullscreen]="true">
  <div class="header">
    <ion-toolbar style="padding-top: 25px; --background: transparent;">
      <ion-title>
        <ion-icon name="play-outline"></ion-icon> BeaM
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div>
    tetotetotetotetotetotetotetotetotetotetotetoteto
  </div>
</ion-content>